---
layout: layouts/home.njk
title: Code Reflect - Custom software development firm
eleventyNavigation:
  key: Home
  order: 1
---
<div class="bg-image parallax" style="background-size: cover; background-attachment: fixed; background-position: center 0px; background-repeat: no-repeat no-repeat;">

  <div class="section-sm bg-dark" >
		<div class="container">
			<div class="row margin-bottom-70i ">
				<div class="col-12 col-md-12">
					<h1 class="display-4 ">
						 Next-gen SaaS <br/>startups begin here
					</h1>
					<div>					
						<h5 class="font-weight-500 margin-bottom-20">					
							Mobile apps, web apps & emerging technologies						
						</h5> 	
					</div>
					<ul class="list-inline margin-top-40" >
						<li>
							<a class="button button-xl button-shadow border-none gradient-18 purple-bg text-white cr-cta" 
								href="mailto:sales@codereflect.io" style="font-size: 1.05rem;">
							Book a consultation 
							</a>
						</li>
					</ul>
					<div class="clients-sub margin-top-40 ">Trusted by</div>
					<ul class="clients-grid column-5 margin-top-30">
						<li><a href="#"><img src="http://mono.flatheme.net/assets/images/client-1.png" alt=""></a></li>
						<li><a href="#"><img src="http://mono.flatheme.net/assets/images/client-6.png" alt=""></a></li>
						<li><a href="#"><img src="http://mono.flatheme.net/assets/images/client-3.png" alt=""></a></li>
						<li><a href="#"><img src="http://mono.flatheme.net/assets/images/client-6.png" alt=""></a></li>
						<li><a href="#"><img src="http://mono.flatheme.net/assets/images/client-6.png" alt=""></a></li>
					</ul>
				</div>

				<div class="col-12 col-md-8">					
					<div class="clients-sub">Get to know us</div>
					<p class="text-white font-weight-500 margin-top-30">Code Reflect is software consultancy based in Belgrade, Serbia. Over the past decade, we've had the pleasure to partner with Governments, Fortune 200 companies, small businesses and tech startups to create the next generation software companies. </p>
				</div>

				<div class="col-12 col-md-8">					
					<div class="clients-sub">What we do</div>
					<p class="text-white font-weight-500 margin-top-30">We build digital products and accelerate performance of your core technology - but it doesn't stop there. Once you partner with us, we work hard to continuously evolve your core technology and operations so that you can focus on customer value creation. </p>
				</div>
			</div>
		</div>
	</div>

  <div class="section padding-top-0 bg-dark padding-bottom-0">
		<div class="container">
			<!-- <div class="row">
				<div class="col-12 col-md-8 offset-md-2 text-center margin-bottom-30">
					<h5 class="font-weight-light uppercase powering font-weight-bold">The work we do</h5>
				</div>
			</div> -->
			<!-- <div class="row">
				<div class="col-12 col-md-4 client-story gradient-8">
					Web & App Development
				</div>
			</div> -->
								<!-- <h4 class="font-weight-light">Services</h4> -->
					<!-- <h5 class="font-weight-light uppercase powering font-weight-bold" style="margin-bottom: 10px">Our software development services</h5> -->
					<!-- <h3 class="" style="padding-top: 0px;"><span class="text-clip gradient-16">Everything you need to scale up your business</span></h3> -->
					<!-- <h2 class="display-4 font-weight-bold margin-bottom-20">
						Our Services
					</h2> -->
					<!-- <p>applications we design and develop set high water marks for efficiency, reliability, and elegance.</p>
										 -->
										 
			<div class="row">
				<div class="col-12 col-md-4">
					<h4 class="upper-title">explore our</h4>
					<h2 class="main-title">services</h2>
				</div>
				<div class="col-12 col-md-4">
					<a href="/new-product-development">
						<div class="client-story">				
							<img class="" src="{{ '/img/cr//icons/g3.svg' }}" style="height:100px; padding-bottom: 20px;">
							<h4 class="title">Digital products<br/> and services</h4>
							<p class="font-weight-normal font-gray">
								Supporting your operations with a dedicated cross-functional teams and full product lifecycle support.</p>
							<svg 
							style="position: absolute; right: 34px; bottom: 18px;"
							width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" ><path d="M1 1H9M9 1V9M9 1L1 9" stroke="#8C8C8C" stroke-width="2"></path></svg>
						</div>
					</a>
				</div>
				<div class="col-12 col-md-4">
					<a href="/performance-tuning">
						<div class="client-story">
							<img class="" src="{{ '/img/cr//icons/g1.svg' }}" style="height:100px; padding-bottom: 20px;">

							<h4 class="title">Performance<br/> optimization</h4>
							<p class="font-weight-normal font-gray">
								Isolate and solve performance problems in applications to meet the performance requirements.</p>
							<svg style="position: absolute; right: 34px; bottom: 18px;"
							
							width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" ><path d="M1 1H9M9 1V9M9 1L1 9" stroke="#8C8C8C" stroke-width="2"></path></svg>
						</div>
					</a>
				</div>
				
				<div class="col-12 col-md-4">
					<a href="/build-hipaa-applications">
						<div class="client-story">
							<span class="powering" style="position: absolute; top: 10px; right: 30px;">Domain expertise</span>
							<img class="" src="{{ '/img/cr//icons/g4.svg' }}" style="height:100px; padding-bottom: 20px;">
							<h4 class="title">Healthcare apps<br/>	 and integrations</h4>
							<p class="font-weight-normal font-gray">
								Build HIPAA compliant patient facing apps, data analytic products and HL7/CCD/FHIR integration platforms. 
								</p>
							<svg style="position: absolute; right: 34px; bottom: 18px;" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" >
								<path d="M1 1H9M9 1V9M9 1L1 9" stroke="#8C8C8C" stroke-width="2"></path>
							</svg>
						</div>
					</a>
				</div>

				<div class="col-12 col-md-4">
					<a href="/extended-team/">
						<div class="client-story">
							<img class="" src="{{ '/img/cr//icons/g6.svg' }}" style="height:100px; padding-bottom: 20px;">
							<h4 class="title">Scale your<br/> team</h4>
							<p class="font-weight-normal font-gray">
								A team of developers, architects and project managers integrates seamlessly with your team, process and workflow.
							</p>
							<svg style="position: absolute; right: 34px; bottom: 18px;" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg" >
								<path d="M1 1H9M9 1V9M9 1L1 9" stroke="#8C8C8C" stroke-width="2"></path>
							</svg>
						</div>
					</div>
				</a>
			</div>

			<div class="row margin-top-30 padding-bottom-0">
				<div class="col-12 col-md-12">					
					<div class="break-line"></div>
					<div class="sect-sm">Process driven and people first oriented</div>
          <div style="width: 55%; max-width: 1500px; padding-right: 60px; padding-left: 0;">
            <h2 class="font-weight-bold"" style="font-size: 2.55em; line-height: 1.3em; ">How we help companies build their products</h2>
          </div>
				</div>

				<div class="col-12 col-md-12">
					<div class="clients-sub">01. Align and understand</div>
					<h4 class="title">Discovery session</h4>
          <hr style="color: #fff"/>
        </div>
        <div class="col-12 col-md-6">
          <p class="sm-p">
						Together with your team we explore your business goals and needs so we can provide you with insights and help plan the work.
					</p>
				</div>
				<div class="col-12 col-md-4 offset-md-1">
					<ul class="list-icon list-icon-caret pb-30 sm-p">
						<li>Desired outcomes</li>
						<li>Release plan and cost estimate</li>
						<li>High level architecture</li>
						<li>End-to-end accountable leader</li>
						<li>Risks and opportunities</li>							
					</ul>
				</div>

				<div class="col-12 col-md-12">
					<div class="clients-sub">02. Establish a clear cadence</div>
					<h4 class="title">Ownership and transparency</h4>
          <hr style="color: #fff"/>
        </div>
        <div class="col-12 col-md-6">
          <p class="sm-p">
						We give you access to every team member at every step of the agile process.
					</p>
				</div>
				<div class="col-12 col-md-4 offset-md-1">
					<ul class="list-icon list-icon-caret pb-30 sm-p">
						<li>Daily Standups, Bi-Weekly Demos</li>
						<li>Team available online on Slack daily</li>
						<li>Process Retrospective</li>
						<li>Scrum Master</li>						
					</ul>
				</div>
				
				<div class="col-12 col-md-12">
					<div class="clients-sub">03. Create a cohesive and complementary team</div>
					<h4 class="title">Efficient team composition</h4>
          <hr style="color: #fff"/>
        </div>
        <div class="col-12 col-md-6">
					<p class="sm-p">
						Our customers highly value the possibility to work with a strong and sustainable team for years.
					</p>
				</div>
				<div class="col-12 col-md-4 offset-md-1">
					<ul class="list-icon list-icon-caret pb-30 sm-p">
						<li>Trust, open communication, and a willingness to embrace conflict</li>
						<li>Talent and skills required to meet the goals</li>
						<li>Efficient and shared understanding of processes</li>						
					</ul>
				</div>

				<div class="col-12 col-md-12">
					<div class="clients-sub">04. Competitive edge</div>
					<h4 class="title">Focus on domain knowledge</h4>
          <hr style="color: #fff"/>
        </div>
        <div class="col-12 col-md-6">
					<p class="sm-p">
						Gaining a deep understanding of the domain and the business specifics is the first step in our development process. We explore, analyze, and model your business domain along with approach for implementing that knowledge.
					</p>
				</div>
				<div class="col-12 col-md-4 offset-md-1">
					<ul class="list-icon list-icon-caret pb-30 sm-p">
						<li>Enforcing the technical safeguards of required regulatives (e.g. GDRP, HIPAA).</li>						
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="section padding-top-0">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-12">					
					<div class="break-line"></div>
					<div class="sect-sm">Engagement Models</div>
				</div>
				<div class="col-12 col-md-8">
					<h6 class="powering">Time & material</h6>
					<p class="text-white font-weight-500 pb-30">
						Our software engineers and QA specialists join your development team to increase project velocity. Together we brief the newly created team and kick-off the engagement. Our capacity is flexible, meaning that you can adjust your team size as your business grows.
					</p>

				</div>
				<div class="col-12 col-md-8">
					<h6 class="powering">Self-managed team</h6>
					<p class="text-white font-weight-500 pb-30">
						On an engagement, we assemble a cross-functional team responsible for entire project. This model is perfect for long-term projects and companies looking to reduce time-to-market by employing battle tested team. Our project managers keep a transparent flow of information with reports about risks, opportunities, and all stages of the software development process. We manage to work accross different time zones, using Slack and Zoom.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section bg-dark padding-top-0">
		<div class="container">	
			<div class="row col-spacing-20 team-wrapper text-left margin-bottom-40">
				<div class="col-12 col-md-8">
					<h4 class="upper-title">discover our</h4>
					<h2 class="main-title">projects</h2>
					<!-- <p class="font-weight-500 text-white">We build digital products - but it doesn't stop there. Once you partner with us, we work hard to continuously evolve your core technology and operations so that you can focus on customer value creation. </p> -->
				</div>
			</div>

			<div class="row case-study">
				<div class="col-12 col-md-6">
					<div class="pb-30">
						<span class="badge badge-pill badge-cr">Web app</span>
						<span class="badge badge-pill badge-cr">Mobile app</span>
						<span class="badge badge-pill badge-cr">Payment gateway</span>

					</div>
					<h2 class="font-weight-bold pb-30" style="font-size: 38px; line-height: 120%;">
						Employee wellbeing and corporate wellness platform
					</h2>
					<ul class="list-icon list-icon-caret  pb-30" style="">
						<li class="p-white"><i class="fas"></i>Mobile and web platform to support unique range of services designed to support its members and is aimed at developing social interdependence </li>
						<li class="p-white"><i class="fas"></i>Automotive leasing, hotel bookings, access to discounted plane tickets, Loans</li>

					</ul>
					<a class="button button-xl button-white button-shadow" href="#">
						View Case Study
					</a>
				</div>
				<div class="col-12 col-md-6">
					img
				</div>
			</div>

			<div class="row case-study-white margin-top-70">
				<div class="col-12 col-md-6">
					<div class="pb-30">
						<span class="badge badge-pill badge-cr">Web App</span>
						<span class="badge badge-pill badge-cr">Infrastructure</span>
					</div>
					<h2 class="font-weight-bold pb-30 text-dark" style="font-size: 38px; line-height: 120%;">High performance car search service</h2>
					<ul class="list-icon list-icon-caret  pb-30" style="">
						<li class="text-dark"><i class="fas"></i>A white-label solution that automates key business processes of the automotive industry</li>
						<li class="text-dark"><i class="fas"></i>Keeping track of all the information related to the car dealerships</li>
						<li class="text-dark"><i class="fas"></i>Responsive administrative panel with various options</li>
					</ul>
					<a class="button button-xl button-white button-shadow" href="#">
						View Case Study
					</a>
				</div>
				<div class="col-12 col-md-6">
					img
				</div>
			</div>

		</div>
		
	</div>

	<div class="section bg-dark">
		<div class="">
			<div class="container">
				<div class="">
					<div class="row">
						<div class="col-8 col-md-8">
							<h4 class="font-weight-light">Ready to get started?</h4>
							<h2 style="">Tell us about your project.</h2>
							<div class="margin-top-30 sal-animate" data-sal="slide-up" data-sal-delay="150"></div>
							<a class="button button-lg button-rounded text-white border-none purple-bg" href="#">
								Get in touch</a>
							
								
						</div>
						<div class="offset-md-2"></div>
						<div class="col-2 col-md-2">
							<ul class="list-unstyled font-small">
								<li><a href="">Approach</a></li>
								<li><a href="">Work</a></li>
								<li><a href="">Services</a></li>
								<li><a href="">Insights</a></li>
								<li><a href="">Connect</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>