---
layout: layouts/content.njk
title: Code Reflect - Application performance tuning
permalink: "/application-performance-tuning/index.html"
eleventyNavigation:
  key: PerformanceTuning
  order: 2
---

<div class="bg-image parallax" style="background-size: cover; background-attachment: fixed; background-position: center 0px; background-repeat: no-repeat no-repeat;">

  <div class="section-xs bg-dark" >
		<div class="container">
			<div class="row ">
				<div class="col-12 col-md-8">
					<h1 class="display-4 ">
            Application performance tuning
					</h1>
					<div>					
						<h5 class="font-weight-500 margin-bottom-20">					
              If your system is unable to fulfill one or more of its performance objectives, we can help you. Profiling enables us to modify and optimize a system to achieve its performance goals.
						</h5> 	
					</div>
				</div>
			</div>
		</div>
	</div>