---
layout: layouts/content.njk
title: Careers - Code Reflect
permalink: "/careers/index.html"
eleventyNavigation:
  key: Careers
  order: 2
---

<div class="bg-image parallax" style="background-size: cover; background-attachment: fixed; background-position: center 0px; background-repeat: no-repeat no-repeat;">

  <div class="section-xs bg-dark" >
		<div class="container">
			<div class="row ">
				<div class="col-12 col-md-8">
					<h1 class="display-4">Always looking for talented people.</h1>
					<div>
						<h5 class="font-weight-500 margin-bottom-20">					
              We’re a small team, so everyone here has a huge impact. We value learning, collaboration, personal responsibility, and mutual support.

						</h5> 	
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section bg-dark padding-top-0 padding-bottom-0 mb-0">
		<div class="container">
			<div class="row padding-bottom-0">
				<div class="col-12 col-md-8">					
					<div class="clients-sub">About the service</div>
					<p class="text-white font-weight-500 margin-top-30"> Every successful technology business depends on the right response time and throughput. Whether you have a sophisticated analytics application or an open web API, your customers depend on being able to get the most out of it.</p>
					<p class="text-white font-weight-500 margin-top-30" >
						We pride ourselves on having a team of highly skilled, enthusiastic software engineers. We centre our philosophy around deep understanding of any technology stack we propose to our clients.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section bg-dark padding-top-0 padding-bottom-0 mb-0 margin-top-60">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">			
          <div class="powering mb-0">Open positions</div>
        </div>
      </div>
      <div class="row pt-30">
        <div class="col-12 col-lg-4">
          <h6 class="font-small font-weight-medium uppercase">Java Software Engineer</h6>
          <p class="sm-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nascetur ridiculus mus mauris vitae ultricies leo integer malesuada. Scelerisque purus semper eget duis at tellus at urna condimentum.</p>
        </div>
        <div class="col-12 col-lg-4 hwwork">
          <h6 class="font-small font-weight-medium uppercase">Responsibilities:</h6>
					<ul class="list-icon list-icon-caret sm-p">
            <li>Core Java</li>
            <li>Concurrent programming and processing</li>
            <li>Scalable caches, infrastructures, databases</li>
            <li>Relational database physical and logical scalability</li>
            <li>NoSQL database scalability</li>            
          </ul>
        </div>
        <div class="col-12 col-lg-4 hwwork">
          <h6 class="font-small font-weight-medium uppercase">Requirements:</h6>
					<ul class="list-icon list-icon-caret sm-p">
            <li>Core Java</li>
            <li>Concurrent programming and processing</li>
            <li>Scalable caches, infrastructures, databases</li>
            <li>Relational database physical and logical scalability</li>        
          </ul>
        </div>
      </div>
      <div class="margin-top-30">
        <a class="button button-md button-radius button-dark" href="/pages/career-single.html">Apply Now</a>
      </div>
      <hr/>
    </div>
  </div>

	
