---
layout: layouts/content.njk
title: Code Reflect - New product development
permalink: "/extended-team/index.html"
eleventyNavigation:
  key: ExtendedTeam
  order: 2
---

<div class="bg-image parallax" style="background-size: cover; background-attachment: fixed; background-position: center 0px; background-repeat: no-repeat no-repeat;">

  <div class="section-sm bg-dark" >
		<div class="container">
			<div class="row ">
				<div class="col-12 col-md-8">
					<h1 class="display-4 fw900">
            Level up your <br/> talent and team<span class="text-clip gradient-16">.</span>
					</h1>

          <div class="row margin-top-40">
            <div class="col-12 col-md-12">		
              <h5 class="text-gray font-weight-500 margin-bottom-10">
                Code Reflect's team of experienced consultants is available to complement your workforce on a short- or long-term basis if you don't have those hands already in-house.
              </h5>
            </div>

          </div>

<!-- 						
						<h5 class="font-weight-500 margin-bottom-20">					
              An IT staff augmentation strategy may help existing organizations as well as new startups accomplish their business goals with greater agility and less financial risk.
						</h5> 	 -->

				</div>
			</div>
		</div>
	</div>

  

  <div class="section-xs bg-dark padding-top-0 padding-bottom-0 mb-0 margin-top-30">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">					
          <h2 class="font-weight-bold h2-head mb-0">We enhance development teams.</h2>
          <h2 class="font-weight-bold  h2-head font-gray">Scale up or down your team.</h2>
        </div>
      </div>

      <div class="row padding-bottom-0 margin-top-30">
        
        <div class="col-12 col-md-8">
          <ul class="accordion single-open style-3">
            <li>
              <div class="accordion-title">
                <h4 class="title">Tell us about your challenges and business goals</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  At Code Reflect, the first thing we do is talk with your organization to determine your IT staffing needs, including the number of developers you need, the needed skills and certifications, and the expertise required. Ultimately, it's our responsibility to understand what your organization wants and then execute on it.
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title">
                <h4 class="title">Assembling the team</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  After identifying your company's needs, the next step is to put together your team. We choose developers from our in-house talent pool and then from other networks as needed. As a result of the COVID19 situation, we became a remote-first firm, and all future employees and teams will work from home.
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title">
                <h4 class="title">Together we brief the newly created team</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  Your tailor-made squad is ready to work. Organizing a kick-off meeting: introducing the client, discussing the terms of cooperation, and setting.
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title">
                <h4 class="title">Scale up or down as necessary</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  You, as our customer, always have the opportunity to expand or reduce the team to meet your needs.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="section bg-dark padding-top-0 padding-bottom-0 mb-0 margin-top-30">
    <div class="container">
      <div class="row ">
        <div class="col-12 col-md-12">			
          <div class="break-line"></div>
          <div class="sect-sm">The package deal that is being offered</div>
         
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <img src="{{ '/img/cr//icons/gteam.svg' }}" class="cr-icon"/>
            <h4 class="title">Assemble team in 4 weeks</h4>
            <p class="sm-p">Top software engineers will be screened, hired, and onboarded by experienced recruiters and tech leads. You can rely on them to meet both your business and engineering requirements.</p>
        </div>


        <div class="col-12 col-md-6 col-lg-4">
          <img src="{{ '/img/cr//icons/goffice.svg' }}" class="cr-icon"/>
            <h4 class="title">HR and team retention</h4>
            <p class="sm-p">Code Reflect's onboarding process is simple and easy. We promote positive culture and enable your unique culture thrive and mirror your setup to provide a seamless experience.</p>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <img src="{{ '/img/cr//icons/gpm.svg' }}" class="cr-icon"/>
            <h4 class="title">Project manager</h4>
            <p class="sm-p">Your dedicated project manager will connect and manage your dedicated team effectively. You will have 24/7 access to Jira and get timely status reports as well as scheduled calls with the team.</p>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <img src="{{ '/img/cr//icons/gcert.svg' }}" class="cr-icon"/>
            <h4 class="title">Back-office support</h4>
            <p class="sm-p">While you're concentrating on your business, we'll handle your team's legal, financial, and administrative needs.</p>
        </div>
 

       
    </div>
  </div>

  



</div>