---
layout: layouts/content.njk
title: Code Reflect - New product development
permalink: "/extended-team/index.html"
eleventyNavigation:
  key: ExtendedTeam
  order: 2
---

<div class="bg-image parallax" style="background-size: cover; background-attachment: fixed; background-position: center 0px; background-repeat: no-repeat no-repeat;">

  <div class="section-xs bg-dark" >
		<div class="container">
			<div class="row ">
				<div class="col-12 col-md-8">
					<h1 class="display-4 ">
            Team Augmentation & <br/>Acceleration
					</h1>
					<div>					
						<h5 class="font-weight-500 margin-bottom-20">					
              An IT staff augmentation strategy may help existing organizations as well as new startups accomplish their business goals with greater agility and less financial risk.
						</h5> 	
					</div>
				</div>
			</div>
		</div>
	</div>

  <div class="section bg-dark padding-top-0 padding-bottom-0 mb-0">
    <div class="container">
      <div class="row padding-bottom-0">

        <div class="col-12 col-md-8">					
          <div class="clients-sub">What is Staff Augmentation</div>
          <p class="text-white font-weight-500 margin-top-30">By utilizing highly skilled temporary individuals instead of permanent employees, the approach allows technologies and teams of varied sizes to scale up or down fast.</p>
          <p class="text-white font-weight-500 margin-top-30">
            An staff augmentation firm, such as Code Reflect, delivers highly qualified developers as external employees to other organizations. In contrast to in-house employees, augmented staff members often work remotely and on a contract basis. 
          </p>
          <p class="text-white font-weight-500 margin-top-30">
            When client demand spikes or your company's workload increases, your team can rely on Code Reflect to provide the best talent.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section bg-dark padding-top-0 padding-bottom-0 mb-0 margin-top-30">
    <div class="container">
      <div class="row padding-bottom-0">

        <div class="col-12 col-md-8">			
          <div class="powering mb-0">How Does Staff Augmentation Work</div> 
        </div>
        <div class="col-12 col-md-8">
          <h4 class="title">01 Tell us about your challenges and business goals</h4>
          <p class="sm-p">At Code Reflect, the first thing we do is talk with your organization to determine your IT staffing needs, including the number of developers you need, the needed skills and certifications, and the expertise required. Ultimately, it's our responsibility to understand what your organization wants and then execute on it.</p>

          <h4 class="title">02 Build your technical team</h4>
          <p class="sm-p">
            After identifying your company's needs, the next step is to put together your team. We choose developers from our in-house talent pool and then from other networks as needed. As a result of the COVID19 situation, we became a remote-first firm, and all future employees and teams will work from home.
          </p>

          <h4 class="title">03 Together we brief the newly created team and kick-off the project</h4>
          <p class="sm-p">
            Your tailor-made squad is ready to work. Organizing a kick-off meeting: introducing the client, discussing the terms of cooperation, and setting.
          </p>
          
          <h4 class="title">04 Scale up or down as necessary</h4>
          <p class="sm-p">
            You, as our customer, always have the opportunity to expand or reduce the team to meet your needs.
          </p>

        </div>
      </div>
    </div>
  </div>

  <div class="section bg-dark padding-top-0 padding-bottom-0 mb-0 margin-top-30">
    <div class="container">
      <div class="row ">
        <div class="col-12 col-md-12">			
          <div class="powering mb-0">The package deal that is being offered</div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="feature-box ">
            <div class="feature-box-icon bg-none">
              <img class="" src="{{ '/img/cr//icons/s5.svg' }}" style="padding-bottom: 20px;">
            </div>
            <h4 class="title">Assemble team in 4 weeks</h4>
            <p class="sm-p">Top software engineers will be screened, hired, and onboarded by experienced recruiters and tech leads. You can rely on them to meet both your business and engineering requirements.</p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="feature-box ">
            <div class="feature-box-icon bg-none">
              <img class="" src="{{ '/img/cr//icons/s5.svg' }}" style="padding-bottom: 20px;">
            </div>
            <h4 class="title">Back-office support</h4>
            <p class="sm-p">While you're concentrating on your business, we'll handle your team's legal, financial, and administrative needs.</p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="feature-box ">
            <div class="feature-box-icon bg-none">
              <img class="" src="{{ '/img/cr//icons/s5.svg' }}" style="padding-bottom: 20px;">
            </div>
            <h4 class="title">HR and team retention</h4>
            <p class="sm-p">Code Reflect's onboarding process is simple and easy. We promote positive culture and enable your unique culture thrive and mirror your setup to provide a seamless experience. </p>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="feature-box ">
            <div class="feature-box-icon bg-none">
              <img class="" src="{{ '/img/cr//icons/s5.svg' }}" style="padding-bottom: 20px;">
            </div>
            <h4 class="title">Project manager</h4>
            <p class="sm-p">Your dedicated project manager will connect and manage your dedicated team effectively. You will have 24/7 access to Jira and get timely status reports as well as scheduled calls with the team.</p>
          </div>
        </div>

       
    </div>
  </div>

  <div class="section bg-dark padding-top-0 padding-bottom-0 mb-0 margin-top-30">
    <div class="container">
      <div class="row ">
        <div class="col-12 col-md-12">			
          <div class="powering mb-0">Our engineering technology stack</div>
        </div>

        <div class="col-12 col-md-2 hwwork">
          <h4 class="title">Frontend</h4>
          <ul class="list-unstyled pb-30 sm-p">
            <li>React</li>
            <li>Backbone</li>
            <li>Angular</li>		
            <li>HTML5</li>
            <li>CSS3</li>						
          </ul>

        </div>
        <div class="col-12 col-md-2">
          <h4 class="title">Backend</h4>
          <ul class="list-unstyled pb-30 sm-p">
            <li>Java</li>
            <li>Kotlin</li>
            <li>Node.js</li>		
            <li>Elixir</li>					
          </ul>
        </div>
        <div class="col-12 col-md-2">
          <h4 class="title">Database</h4>
          <ul class="list-unstyled pb-30 sm-p">
            <li>Postgres</li>
            <li>Couchbase</li>
            <li>MySql</li>		
            <li>Elasticsearch</li>					
          </ul>
        </div>
        <div class="col-12 col-md-2">
          <h4 class="title">Cloud</h4>
          <ul class="list-unstyled pb-30 sm-p">
            <li>AWS</li>
            <li>IBM Bluemix</li>
            <li>Bare-metal servers</li>						
          </ul>
        </div>
        <div class="col-12 col-md-2">
          <h4 class="title">Mobile</h4>
          <ul class="list-unstyled pb-30 sm-p">
            <li>React Native</li>				
          </ul>
        </div>
      </div>
    </div>
  </div>



</div>