---
layout: layouts/content.njk
title: Code Reflect - Legacy Modernization
permalink: "/legacy-modernization/index.html"
eleventyNavigation:
  key: ExtendedTeam
  order: 2
---

<div class="bg-image parallax" style="background-size: cover; background-attachment: fixed; background-position: center 0px; background-repeat: no-repeat no-repeat;">

  <div class="section-xs bg-dark" >
		<div class="container">
			<div class="row ">
				<div class="col-12 col-md-8">
					<h1 class="display-4 ">
            Legacy<br/> Modernization
					</h1>

          <div class="row margin-top-40">
            <div class="col-12 col-md-12">		
              <p class="text-gray font-weight-500 margin-bottom-30">
                Legacy software deteoriates over time consuming much energy, budget and human resources. A major issue for organizations is cost that comes with improper maintainance. Changes that could be done in couple of days, now will take much more. Technical debt accumulates even more with each new change. There are various reasons for this condition, and many are easy to recognize:
              </p>
              
              <h4 class="sm-p">Inability to implement new regulatives</h4>
              <h4 class="sm-p">Security vulnerabilities</h4>
              <h4 class="sm-p">Performance degradation</h4>
              <h4 class="sm-p">Delayed delivery milestone</h4>
              <h4 class="sm-p">Hard to make estimates</h4>
              <h4 class="sm-p">Expensive to maintain</h4>
              <p class="text-gray font-weight-500 margin-bottom-30 margin-top-30">
                What are your options? Choosing the most efficient approach to legacy modernization requires careful consideration. 
              </p>
              Retain
              Re-engineer
              Sunset
              Lift and Shift
            </div>

          </div>

<!-- 						
						<h5 class="font-weight-500 margin-bottom-20">					
              An IT staff augmentation strategy may help existing organizations as well as new startups accomplish their business goals with greater agility and less financial risk.
						</h5> 	 -->

				</div>
			</div>
		</div>
	</div>

  
  

  <div class="section-xs bg-dark padding-top-0 padding-bottom-0 mb-0 margin-top-30">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">					
          <h2 class="font-weight-bold h2-head">An approach to start your transformation efforts.</h2>
          <!-- <h2 class="font-weight-bold  h2-head font-gray">Scale up or down your team.</h2> -->
        </div>
      </div>

      <div class="row padding-bottom-0 margin-top-30">
        
        <div class="col-12 col-md-6">
          <ul class="accordion single-open style-3">
            <li>
              <div class="accordion-title">
                <h4 class="title">Application assesment</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  We assess the overall system strengths and needs to enable the team to use findings to create a viable modernization strategy.
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title">
                <h4 class="title">Strategize</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  Evaluate all potential modernisation options according to their complexity, cost, and business value.
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title">
                <h4 class="title">Evolve slice by slice</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  Break things down to thin slices, reduce complexity and iterate quickly and continually.
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title">
                <h4 class="title">Sunset deprecated functions</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  Incrementally sunset unused apps, functionalities and integrations.
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title">
                <h4 class="title">Automate everything</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                 
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title">
                <h4 class="title">Rewrite dont refactor</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                 
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </div>
  </div>

  

  



</div>