---
layout: layouts/content.njk
title: Code Reflect - New product development
permalink: "/new-product-development/index.html"
eleventyNavigation:
  key: ProductDevelopment
  order: 2
---

<div class="bg-image parallax " style="background-size: cover; background-attachment: fixed; background-position: center 0px; background-repeat: no-repeat no-repeat;">

  <div class="section-sm bg-dark padding-bottom-0" >
		<div class="container">
			<div class="row ">
				<div class="col-12 col-md-6">
					<h1 class="display-4 fw900">
            <!-- Product<br/> development<br/> and services -->
            <p class="sm-p"></p>
            Build your idea from scratch<span class="text-clip gradient-16">.</span>
					</h1>
				</div>
			</div>
      <div class="row margin-top-40">
        <div class="col-12 col-md-8">		
          <h5 class="text-gray font-weight-500 margin-bottom-10 " >
            No matter you need to craft the idea for a completely new product or evaluate the quality of an already existing one - we're here to help you. For each of our projects, we hand-pick an experienced team of designers, engineers, and product owners from our team to complete the work.
          </h5>
        </div>
      </div>
		</div>
	</div>

  

  <div class="section-xs bg-dark padding-top-0 padding-bottom-0 mb-0 mt-80">
    <div class="container">

      <!-- <div class="row">
        <div class="col-12 col-md-12">					
          <h2 class="font-weight-bold h2-head mb-0">We build what you imagine.</h2>
          <h2 class="font-weight-bold  h2-head font-gray">From mobile to web and beyond.</h2>
          <h2 class="h2-head fw800 text-clip gradient-16">
            We build what you imagine. From mobile to web and beyond.
          </h2>
        </div>
        
      </div> -->

      <div class="row icon-5xl margin-top-40 case-study">
        <div class="col-12 col-md-3 col-xs-6 col-sm-6">
          <img src="{{ '/img/cr/icons/mobile.svg' }}" alt="" class="cr-icon"/>
          <h4 class="title">Mobile App<br/> Development</h4>
          <p class="sm-p mb-0">React Native<br/> Native iOS<br/>Android</p>
        </div>
        <div class="col-12 col-md-3 col-xs-6 col-sm-6">
          <img src="{{ '/img/cr/icons/rest-api.svg' }}" alt=""  class="cr-icon"/>
          <h4 class="title">Full-stack<br/> Engineering</h4>
          <p class="sm-p mb-0">Single page apps<br/> Software as a Service<br/> API design</p>
        </div>
        <div class="col-12 col-md-3 col-xs-6 col-sm-6">
          <img src="{{ '/img/cr/icons/share.svg' }}" alt=""  class="cr-icon"/>
          <h4 class="title">System<br/> Integration</h4>
          <p class="sm-p mb-0">FHIR, HL7<br/> Payment Gateways</p>
        </div>
        <div class="col-12 col-md-3 col-xs-6 col-sm-6">
          <img src="{{ '/img/cr/icons/eth.svg' }}" alt=""  class="cr-icon"/>
          <h4 class="title">Emerging<br/> Technologies</h4>
          <p class="sm-p mb-0">IoT, Drones<br/> Blockchain</p>
        </div>
      </div>

    </div>
  </div>

  <div class="section-xs bg-dark padding-top-0 padding-bottom-0 mb-0 mt-80">
    <div class="container">

      <div class="row">
        <div class="col-12 col-md-12">					
          <h2 class="h2-head fw800 text-clip gradient-16 mb-0 padding-top-0">Built-in compliance.</h2>
          <h2 class="mb-0 padding-top-0 sm-p text-gray2">From inception to completion.</h2>
          <!-- <h2 class="font-weight-bold  h2-head font-gray">From inception to completion.</h2> -->
          <!-- <h2 class="h2-head fw800 text-clip gradient-16">Built-in compliance. From inception to completion.</h2> -->
        </div>
      </div>

      <div class="row margin-top-40">
        <div class="col-12 col-md-8">		
          <p class="text-gray2 font-weight-500 margin-bottom-10">
            We prioritize and implement the appropriate policies and procedures to ensure corporate and client data protection in accordance with GDPR for our European clients at the outset of every cooperation. We also work together to fully understand any other rules and regulations (e.g. HIPAA) that our customers may need to comply with.</p>
        </div>
      </div>
      <div class="row margin-top-40">
        <div class="col-12 col-lg-4">
					<a href="/build-hipaa-applications">
						<div class="client-story">
							<img class="" src="/img/cr/icons/ghipaa.svg" style="height:70px; padding-bottom: 20px;">
							<div class="">
								<h4 class="title font-weight-semi-bold ">Design HIPAA<br>  compliant solutions</h4>
								<!-- Build your idea<br/> from screatch -->
								<!-- <p class="font-weight-normal font-gray">From ideation through prototyping to delivery & maintenance.</p> -->
							</div>
								<svg style="position: absolute; right: 34px; bottom: 18px;" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1H9M9 1V9M9 1L1 9" stroke="#8C8C8C" stroke-width="2"></path></svg>
						</div>
					</a>
				</div>

        
      </div>

    </div>
  </div>

  <div class="section-xs bg-dark padding-top-0 padding-bottom-0 mb-0 mt-80">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">					
          <h2 class="h2-head fw800 text-clip gradient-16 mb-0 padding-top-0">Our work patterns.</h2>
          <h2 class="mb-0 padding-top-0 sm-p text-gray2">Reliable and predictable by design.</h2>
          <!-- <h2 class="h2-head fw800 text-clip gradient-16">Our work patterns. Reliable and predictable by design.</h2> -->
        </div>
      </div>

      <div class="row margin-top-40">

        <div class="col-12 col-md-5 ">
          <p class="text-gray2"> <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> Lean product development</p>
        </div>

        <div class="col-12 col-md-5 ">
          <p class="text-gray2"> <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> Evolutionary architecture</p>
        </div>

        <div class="col-12 col-md-5 ">
          <p class="text-gray2"> <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> User-centered design</p>
        </div>

        <div class="col-12 col-md-5 ">
          <p class="text-gray2"> <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> Twelve-factor app</p>
        </div>

        <div class="col-12 col-md-5 ">
          <p class="text-gray2"> <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> CI & CD pipelines</p>
        </div>

        <div class="col-12 col-md-5 ">
          <p class="text-gray2"> <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> Twelve-factor app</p>
        </div>

     </div>
      
    </div>
  </div>

  <div class="section-xs bg-dark padding-top-0 padding-bottom-0 mb-0 mt-80">
    <div class="container">
      <!-- <div class="row">
        <div class="col-12 col-md-12">					
          <div class="break-line"></div>
          <div class="sect-sm">Technology</div>
        </div>
      </div> -->

      <div class="row">
        <div class="col-12 col-md-12">					
          <h2 class="h2-head fw800 text-clip gradient-16 mb-0 padding-top-0">Technology.</h2>
          <h2 class="text-gray2 mb-0 padding-top-0 sm-p">The tools we use.</h2>
          <!-- <h2 class="h2-head fw800 text-clip gradient-16">Technology is constantly changing, and so are we. </h2> -->
        </div>
      </div>

      
      <div class="row margin-top-40">
        <div class="col-12 col-md-8">		
          <p class="text-gray2 font-weight-500 margin-bottom-10">
            We choose our technologies based on whether it is the best fit for the project. While we like exploring cutting-edge technology, we make our choices based on rational analysis, not on transitory trends. We utilize Kotlin, Java, React, React Native, and Elixir in most of our projects.
          </p>
        </div>
      </div>


      <div class="row margin-top-40 ">
        <div class="col-12 col-md-5 ">
          <p class=" text-gray2"> <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> Kotlin, Golang, Java, Elixir</p>
        </div>
        <div class="col-12 col-md-5 ">
          <p class=" text-gray2"> <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> Postgres, Couchbase, Elasticsearch</p>
        </div>
        <div class="col-12 col-md-5 ">
          <p class=" text-gray2"> <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> AWS, Bluemix, Bare metal</p>
        </div>
        <div class="col-12 col-md-5 ">
          <p class=" text-gray2"> <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> React, Angular, HTML5/CSS3</p>
        </div>
        <div class="col-12 col-md-5 ">
          <p class=" text-gray2"> <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> React Native, Swift, Android</p>
        </div>

      </div>

    </div>
  </div>
  

  

</div>