---
layout: layouts/content.njk
title: Code Reflect - New product development
permalink: "/new-product-development/index.html"
eleventyNavigation:
  key: ProductDevelopment
  order: 2
---

<div class="bg-image parallax " style="background-size: cover; background-attachment: fixed; background-position: center 0px; background-repeat: no-repeat no-repeat;">

  <div class="section-sm bg-dark padding-bottom-0" >
		<div class="container">
			<div class="row ">
				<div class="col-12 col-md-6">
					<h1 class="display-4 fw900">
            Product<br/> development<br/> and services
					</h1>
				</div>
			</div>
      <div class="row margin-top-40">
        <div class="col-12 col-md-8">		
          <p class="text-gray font-weight-500 margin-bottom-10">
          We understand that building a software product is more than technical excellence; we see it as a process of strategy and domain exploration synchronized together to create valuable customer experiences.<br/><br/> Customer experience is how you feel after you've interacted with a company. That's why we focus on careful ideation, before executing and promoting your products into the wild.</p>
        </div>
      </div>
		</div>
	</div>

  

  <div class="section-xs bg-dark padding-bottom-0 mb-0 padding-top-0 mt-80">
    <div class="container">

      <div class="row">
        <div class="col-12 col-md-12">					
          <h2 class="font-weight-bold h2-head mb-0">We build what you imagine.</h2>
          <h2 class="font-weight-bold  h2-head font-gray">From mobile to web and beyond.</h2>
        </div>
      </div>

      <div class="row col-spacing-40 icon-5xl margin-top-30">
        <div class="col-12 col-md-6 col-lg-3 col-sm-6 col-xs-6">
          <img src="{{ '/img/cr/icons/mobile.svg' }}" alt="" class="cr-icon"/>
          <h4 class="title">Mobile Development</h4>
          <p class="sm-p">App store setup & approvals<br/>React Native<br/> iOS<br/> Android<br/></p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 col-sm-6 col-xs-6">
          <img src="{{ '/img/cr/icons/rest-api.svg' }}" alt=""  class="cr-icon"/>
          <h4 class="title">Full-stack Engineering</h4>
          <p class="sm-p">Single page apps<br/> Software as a Service<br/> API design</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 col-sm-6 col-xs-6">
          <img src="{{ '/img/cr/icons/share.svg' }}" alt=""  class="cr-icon"/>
          <h4 class="title">System Integration</h4>
          <p class="sm-p">FHIR, HL7<br/> Payment Gateways</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 col-sm-6 col-xs-6">
          <img src="{{ '/img/cr/icons/eth.svg' }}" alt=""  class="cr-icon"/>
          <h4 class="title">Emerging Technologies</h4>
          <p class="sm-p">IoT<br/> Blockchain<br/> Programmable Drones</p>
        </div>
      </div>

    </div>
  </div>

  <div class="section-xs bg-dark padding-bottom-0 padding-top-0 mt-80">
    <div class="container">

      <div class="row">
        <div class="col-12 col-md-12">					
          <h2 class="font-weight-bold h2-head mb-0 padding-top-0">Built-in compliance.</h2>
          <h2 class="font-weight-bold  h2-head font-gray">From inception to completion.</h2>
        </div>
      </div>

      <div class="row margin-top-40">
        <div class="col-12 col-md-8">		
          <p class="text-gray font-weight-500 margin-bottom-10">
            We prioritize and implement the appropriate policies and procedures to ensure corporate and client data protection in accordance with GDPR for our European clients at the outset of every cooperation. We also work together to fully understand any other rules and regulations (e.g. HIPAA) that our customers may need to comply with.</p>
        </div>
      </div>
      <div class="row margin-top-40">
        <div class="col-12 col-lg-4">
					<a href="/build-hipaa-applications">
						<div class="client-story">
							<img class="" src="/img/cr/icons/ghipaa.svg" style="height:70px; padding-bottom: 20px;">
							<div class="">
								<h4 class="title font-weight-semi-bold ">Design HIPAA<br>  compliant solutions</h4>
								<!-- Build your idea<br/> from screatch -->
								<!-- <p class="font-weight-normal font-gray">From ideation through prototyping to delivery & maintenance.</p> -->
							</div>
								<svg style="position: absolute; right: 34px; bottom: 18px;" width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1H9M9 1V9M9 1L1 9" stroke="#8C8C8C" stroke-width="2"></path></svg>
						</div>
					</a>
				</div>

        
      </div>

    </div>
  </div>

  <div class="section-xs bg-dark padding-bottom-0 padding-top-0 mt-80">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">					
          <h2 class="font-weight-bold h2-head mb-0">Reliable and predictable by design.</h2>
          <h2 class="font-weight-bold  h2-head font-gray">Our work patterns are making it possible.</h2>
        </div>
      </div>

      <div class="row margin-top-40">
        <div class="col-12 col-md-6">					

          <ul class="accordion single-open style-3">
            <li>
              <div class="accordion-title" >
                <h4 class="title">Lean product development</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  We setup a few initial meetings with you to discuss your goals, vision, timeline and budget.
                  Together with your team we explore your business needs so we can provide you with insights, overall cost, and help plan the work.
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title" >
                <h4 class="title">Evolutionary architecture</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  We setup a few initial meetings with you to discuss your goals, vision, timeline and budget.
                  Together with your team we explore your business needs so we can provide you with insights, overall cost, and help plan the work.
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title" >
                <h4 class="title">User-centered design</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  We setup a few initial meetings with you to discuss your goals, vision, timeline and budget.
                  Together with your team we explore your business needs so we can provide you with insights, overall cost, and help plan the work.
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title" >
                <h4 class="title">Twelve-factor app</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  We setup a few initial meetings with you to discuss your goals, vision, timeline and budget.
                  Together with your team we explore your business needs so we can provide you with insights, overall cost, and help plan the work.
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title" >
                <h4 class="title">CI & CD pipelines</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  We setup a few initial meetings with you to discuss your goals, vision, timeline and budget.
                  Together with your team we explore your business needs so we can provide you with insights, overall cost, and help plan the work.
                </p>
              </div>
            </li>
          </ul>
        </div>
     </div>
      
    </div>
  </div>

  <div class="section-xs bg-dark padding-top-0 padding-top-0 mt-0 ">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">					
          <div class="break-line"></div>
          <div class="sect-sm">Technology</div>
        </div>
      </div>

      <div class="row margin-top-40">
        <div class="col-12 col-md-5">
        <p class="text-gray font-weight-500 margin-bottom-10">Technology is constantly changing, and so are we. Our agility makes us adaptable to best suit your needs.</p>
        </div>
      </div>

      <div class="row margin-top-40 ">
        <div class="col-12 col-md-4">
          <div>
            <h6 class="text-gray font-weight-500">Kotlin, Golang, Java, Elixir</h6>
            <h6 class="text-gray font-weight-500">Postgres, Couchbase, Elasticsearch</h6>
            <h6 class="text-gray font-weight-500">AWS, Bluemix, Bare metal</h6>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div>
            <h6 class="text-gray font-weight-500">React, Angular, HTML5/CSS3</h6>
            <h6 class="text-gray font-weight-500">React Native, Swift, Android</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
  

  

</div>