---
layout: layouts/content.njk
title: Code Reflect - New product development
permalink: "/new-product-development/index.html"
eleventyNavigation:
  key: ProductDevelopment
  order: 2
---

<div class="bg-image parallax " style="background-size: cover; background-attachment: fixed; background-position: center 0px; background-repeat: no-repeat no-repeat;">

  <div class="section-xs bg-dark padding-bottom-0" >
		<div class="container">
			<div class="row ">
				<div class="col-12 col-md-6">
					<h1 class="display-4 ">
            Product<br/> development<br/> and services
					</h1>

				</div>
			</div>

      <div class="row margin-top-40">
        <div class="col-12 col-md-6">		
          <p class="text-gray font-weight-500 margin-bottom-10">
          We understand that building a software products is more than technical excellence; we see it as a process of strategy and domain exploration synchronized together to create valuable customer experiences. </p>
        </div>
        <div class="col-12 col-md-6">		
          <p class="text-gray font-weight-500 margin-bottom-10">
          Customer experience is how you feel after you've interacted with a company. That's why we focus on careful ideation, before executing and promoting your products to wild.</p>
        </div>
      </div>
		</div>
	</div>

  

  <div class="section-xs bg-dark padding-bottom-0">
    <div class="container">

      <div class="row">
        <div class="col-12 col-md-12">					
          <h2 class="font-weight-bold h2-head">Capabilities.</h2>
          <h2 class="font-weight-bold  h2-head font-gray">From mobile to web and beyond.</h2>
        </div>
      </div>

      <div class="row col-spacing-40 icon-5xl margin-top-30">
        <div class="col-12 col-md-6 col-lg-3 col-sm-6 col-xs-6">
          <img src="{{ '/img/cr/icons/mobile.svg' }}" alt="" class="cr-icon"/>
          <h4 class="title">Mobile Development</h4>
          <p class="sm-p">App store setup & approvals<br/>React Native<br/> IOS<br/> Android<br/></p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 col-sm-6 col-xs-6">
          <img src="{{ '/img/cr/icons/rest-api.svg' }}" alt=""  class="cr-icon"/>
          <h4 class="title">Web Development</h4>
          <p class="sm-p">Single page apps<br/> SaaS<br/> API design</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 col-sm-6 col-xs-6">
          <img src="{{ '/img/cr/icons/share.svg' }}" alt=""  class="cr-icon"/>
          <h4 class="title">System Integration</h4>
          <p class="sm-p">FHIR, HL7<br/> Payment Gateways</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 col-sm-6 col-xs-6">
          <img src="{{ '/img/cr/icons/eth.svg' }}" alt=""  class="cr-icon"/>
          <h4 class="title">Emerging Technologies</h4>
          <p class="sm-p">IoT<br/> Blockchain<br/> Programmable Drones</p>
        </div>
      </div>

    </div>
  </div>

  <div class="section-xs bg-dark padding-bottom-0">
    <div class="container">

      <div class="row">
        <div class="col-12 col-md-12">					
          <h2 class="font-weight-bold h2-head">Compliance by design.</h2>
          <h2 class="font-weight-bold  h2-head font-gray">From inception right through to completion.</h2>
        </div>
      </div>

      <div class="row margin-top-40">
        <div class="col-12 col-md-6">		
          <p class="text-gray font-weight-500 margin-bottom-10">
            We prioritize and implement the appropriate policies and procedures to ensure corporate and client data protection in accordance with GDPR for our European clients at the outset of every cooperation. </p>
        </div>
        <div class="col-12 col-md-6">		
          <p class="text-gray font-weight-500 margin-bottom-10">
            We also work together to fully understand any other rules and regulations (e.g. HIPAA) that our customers may need to comply with.</p>
        </div>
      </div>
      <div class="row margin-top-40">
        <div class="col-12 col-md-12">
          <a class="button button-xs button-shadow border-none gradient-18 purple-bg text-white cr-cta" 
            href="/build-hipaa-applications" style="">
            Build your health app
            </a>
        </div>
      </div>

    </div>
  </div>

  <div class="section-xs bg-dark padding-bottom-0 ">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">					
          <h2 class="font-weight-bold h2-head">We design reliable and predictable systems.</h2>
          <h2 class="font-weight-bold  h2-head font-gray">Our work patterns are making it possible.</h2>
        </div>
      </div>

      <div class="row margin-top-40">
        <div class="col-12 col-md-6">					
          <ul class="accordion single-open style-3">
            <li>
              <div class="accordion-title" >
                <h4 class="title">Lean product development</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  We setup a few initial meetings with you to discuss your goals, vision, timeline and budget.
                  Together with your team we explore your business needs so we can provide you with insights, overall cost, and help plan the work.
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title" >
                <h4 class="title">Evolutionary architecture</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  We setup a few initial meetings with you to discuss your goals, vision, timeline and budget.
                  Together with your team we explore your business needs so we can provide you with insights, overall cost, and help plan the work.
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title" >
                <h4 class="title">User-centered design</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  We setup a few initial meetings with you to discuss your goals, vision, timeline and budget.
                  Together with your team we explore your business needs so we can provide you with insights, overall cost, and help plan the work.
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title" >
                <h4 class="title">Twelve-factor app</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  We setup a few initial meetings with you to discuss your goals, vision, timeline and budget.
                  Together with your team we explore your business needs so we can provide you with insights, overall cost, and help plan the work.
                </p>
              </div>
            </li>

            <li>
              <div class="accordion-title" >
                <h4 class="title">CI & CD</h4>
              </div>
              <div class="accordion-content p-0">
                <p class="sm-p pl-24">
                  We setup a few initial meetings with you to discuss your goals, vision, timeline and budget.
                  Together with your team we explore your business needs so we can provide you with insights, overall cost, and help plan the work.
                </p>
              </div>
            </li>
          </ul>
        </div>
     </div>
      
    </div>
  </div>

  <div class="section-xs bg-dark padding-top-0 padding-top-0 mt-0 ">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12">					
          <div class="break-line"></div>
          <div class="sect-sm">Technology</div>
        </div>
      </div>

      <div class="row margin-top-40">
        <div class="col-12 col-md-5">
        <p class="text-gray font-weight-500 margin-bottom-10">Technology is constantly changing, and so are we. Our agility makes us adaptable to best suit your needs.</p>
        </div>
      </div>

      <div class="row margin-top-40 ">
        <div class="col-12 col-md-4">
          <div>
            <h6 class="text-gray font-weight-500">Kotlin, Golang, Java, Elixir</h6>
            <h6 class="text-gray font-weight-500">Postgres, Couchbase, Elasticsearch</h6>
            <h6 class="text-gray font-weight-500">AWS, Bluemix, Bare metal</h6>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div>
            <h6 class="text-gray font-weight-500">React, Angular, HTML5/CSS3</h6>
            <h6 class="text-gray font-weight-500">React Native, Swift, Android</h6>
          </div>
        </div>
      </div>

    </div>
  </div>
  

  

</div>