---
layout: layouts/content.njk
title: Code Reflect - Solution for car brokers
permalink: "/use-cases/car-broker-solution/index.html"
eleventyNavigation:
  key: UCWellBeing
  order: 2
---

<div 
  class="bg-image parallax" 
  style="background-size: cover; background-attachment: fixed; background-position: center 0px; background-repeat: no-repeat no-repeat;">

  <div class="section-xs bg-dark" >
		<div class="container">
			<div class="row ">
				<div class="col-12 col-md-8">
					<h1 class="display-4 ">
            Employee wellbeing and corporate wellness platform
					</h1>
				</div>
			</div>
		</div>

    <div class="section bg-dark padding-top-0 padding-bottom-0 margin-top-30">
      <div class="container">
        <div class="row padding-bottom-0">
          <div class="col-12 col-md-5 hwwork">
            <ul class="list-unstyled ">
              <li style="margin-bottom: 20px"><img class="logo-default" style="height: 36px; " src="{{ '/img/cr/icons/s11.svg' | url }}" alt="Code Reflect" /> <strong>Mobile application</strong></li>
              <li style="margin-bottom: 20px"><img class="logo-default" style="height: 36px" src="{{ '/img/cr/icons/s11.svg' | url }}" alt="Code Reflect" /> <strong>Enterprise web portal</strong></li>
              <li style="margin-bottom: 20px"><img class="logo-default" style="height: 36px" src="{{ '/img/cr/icons/s11.svg' | url }}" alt="Code Reflect" /> <strong>Integrated with payment gateway</strong></li>
            </ul>					
          </div>
          <div class="col-12 col-md-6">
						<div class="row">
							<div class="col-6 col-sm-4 col-md-6">
								<h2 class="font-weight-light  margin-0">2</h2>
								<h6 class="font-small font-weight-normal uppercase">Months of work</h6>
							</div>
							<div class="col-6 col-sm-4 col-md-6">
								<h2 class="font-weight-light  margin-0">4</h2>
								<h6 class="font-small font-weight-normal uppercase">Software developers</h6>
							</div>
							<div class="col-6 col-sm-4 col-md-6">
								<h2 class="font-weight-light  margin-0">100K</h2>
								<h6 class="font-small font-weight-normal uppercase">Number of users</h6>
							</div>
							<div class="col-6 col-sm-4 col-md-6">
								<h2 class="font-weight-light  margin-0">2.5 MIL</h2>
								<h6 class="font-small font-weight-normal uppercase">Transactions processed</h6>
							</div>

						</div>
					</div>
        </div>
        <hr/>
      </div>
    </div>

    <div class="section bg-dark padding-top-0 padding-bottom-0 mb-0">
      <div class="container">
        <div class="row padding-bottom-0">
          <div class="col-12 col-md-8">					
            <div class="clients-sub">About our customer</div>
            <p class="text-white font-weight-500 margin-top-30">Being committed to increasing employee wellbeing, the UAE Ministry of Interior's objective was to transform the existing platform using the industry best practices to sustain the growth of the userbase and provide an exceptional experience to its members.</p>
            <p class="text-white font-weight-500 margin-top-30" style="font-style: italic;">
              Fazaa platform has more than 300.000 users, providing various services, using geolocation, purchases, service requests, and so on.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section bg-dark padding-top-0 padding-bottom-0 mb-0 margin-top-30">
      <div class="container">
        <div class="row padding-bottom-0">
          <div class="col-12 col-md-8">			
            <div class="powering mb-0">Challanges</div> 
          </div>
          <div class="col-12 col-md-8">

            <p class="sm-p">In partnership with the UAE Ministry of Interior, the Code Reflect team led the technical, architectural, and production initiatives of a “Fazaa” project.</p>

            <p class="sm-p">Over two months, we worked to create secure and scalable infrastructure, re-engineer legacy APIs and implement IOS and Android apps. The web and mobile applications were successfully delivered and deployed on production.</p>
  
            <p class="sm-p">The developed platform allowed users to access discounts and benefits when leasing cars, booking trips or airplane tickets and other numerous services.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section bg-dark padding-top-0 padding-bottom-0 mb-0 margin-top-30">
      <div class="container">
        <div class="row padding-bottom-0">
          <div class="col-12 col-md-12">			
            <div class="powering mb-0">Outcomes</div> 
          </div>
          
          <div class="col-12 col-md-8 mb-0 pl-0">
            <div class="feature-box pl-50">
              <div class="feature-box-icon bg-none ">
                <img class="" src="/img/cr/icons/s12.svg" style="height: 19px;">
              </div>
              <p class="sm-p">Designed push button software development workflows: CI/CD with dev/stage/production environments, integration with 3rd party tools and services</p>
            </div>
          </div>

          <div class="col-12 col-md-8 mb-0 pl-0">
            <div class="feature-box pl-50">
              <div class="feature-box-icon bg-none">
                <img class="" src="/img/cr/icons/s12.svg" style="height: 19px;">
              </div>
              <p class="sm-p">Re-engineered legacy system by using the thin-slice approach of implementing feature verticals.</p>
            </div>
          </div>

          <div class="col-12 col-md-8 mb-0 pl-0">
            <div class="feature-box pl-50">
              <div class="feature-box-icon bg-none">
                <img class="" src="/img/cr/icons/s12.svg" style="height: 19px;">
              </div>
              <p class="sm-p">Multilingual mobile apps for iOS and Android using React Native cross-platform framework.</p>
            </div>
          </div>

          <div class="col-12 col-md-8 mb-0 pl-0" >
            <div class="feature-box pl-50">
              <div class="feature-box-icon bg-none">
                <img class="" src="/img/cr/icons/s12.svg" style="height: 19px;">
              </div>
              <p class="sm-p">Payment gateway</p>
            </div>
          </div>

          <div class="col-12 col-md-8 mb-0 pl-0">
            <div class="feature-box pl-50">
              <div class="feature-box-icon bg-none">
                <img class="" src="/img/cr/icons/s12.svg" style="height: 19px;">
              </div>
              <p class="sm-p">Visa prepaid API integration</p>
            </div>
          </div>

          <div class="col-12 col-md-8 mb-0 pl-0">
            <div class="feature-box pl-50">
              <div class="feature-box-icon bg-none">
                <img class="" src="/img/cr/icons/s12.svg" style="height: 19px;">
              </div>
              <p class="sm-p">SSO with internal systems</p>
            </div>
          </div>

          
        </div>
      </div>
    </div>

    <div class="section bg-dark padding-top-0 padding-bottom-0 mb-0 margin-top-30 mb-0">
      <div class="container">
        <div class="row padding-bottom-0">
          <div class="col-12 col-md-12">			
            <div class="powering mb-0">Technology</div> 
          </div>
          <div class="col-12 col-md-8">

            <p class="sm-p"><strong class="">Api Layer</strong> - Spring Boot and Kotlin </p>
            <p class="sm-p"><strong class="">Geolocation and full-text search</strong> - Elasticsearch</p>
            <p class="sm-p"><strong class="">Distributed lock and message broadcast system</strong> - Redis</p>
            <p class="sm-p"><strong class="">Database</strong> - Postgres</p>
            <p class="sm-p"><strong class="">IOS/Android apps</strong> - React native</p>
            <p class="sm-p"><strong class="">Web app</strong> - React</p>
            
          </div>
          
        </div>
      </div>
    </div>

	</div>