---
layout: layouts/content.njk
title: Code Reflect - Server monitoring dashbaoard
permalink: "/use-cases/server-monitoring-dashboard/index.html"
eleventyNavigation:
  key: UCUtrackMonitoring
  order: 2
---

<div 
  class="bg-image parallax" 
  style="background-size: cover; background-attachment: fixed; background-position: center 0px; background-repeat: no-repeat no-repeat;">

  <div class="section-sm bg-dark padding-bottom-0" >
		<div class="container">
			<div class="row ">
				<div class="col-12 col-md-8">
          <h1 class="display-4 fw900">
            Server<br/> Monitoring<br/> Dashboard<span class="text-clip gradient-16">.</span>
					</h1>

				</div>
			</div>
		</div>

    <div class="section bg-dark padding-top-0 padding-bottom-0 margin-top-30">
      <div class="container">
        <div class="row padding-bottom-0">
          <div class="col-12 col-md-5 hwwork">
            <h5 class="title margin-bottom-20"> <span class="text-clip gradient-16">— &nbsp;&nbsp;</span> HPCSE is Code Reflect's white label solution for connecting car brokers and buyers through unified platform.</h5>

            		
          </div>
          <div class="col-12 col-md-6">
						<div class="row">
							<div class="col-6 col-sm-4 col-md-6">
                <div class=" case-study">
                  <h2 class="font-weight-light margin-0">9</h2>
                  <h6 class="font-small font-weight-normal uppercase">Months of work</h6>
                </div>
							</div>
							<div class="col-6 col-sm-4 col-md-6">
                <div class=" case-study">
                  <h2 class="font-weight-light margin-0">3</h2>
                  <h6 class="font-small font-weight-normal uppercase">Developers</h6>
                </div>
							</div>
							<div class="col-6 col-sm-4 col-md-6">
                <div class=" case-study">
                  <h2 class="font-weight-light margin-0">700K</h2>
                  <h6 class="font-small font-weight-normal uppercase">Number of users</h6>
                </div>
							</div>
							<div class="col-6 col-sm-4 col-md-6">
                <div class=" case-study">
                  <h2 class="font-weight-light margin-0">45ms</h2>
                  <h6 class="font-small font-weight-normal uppercase">Avg. resp time</h6>
                </div>
							</div>

						</div>
					</div>
        </div>

      </div>
    </div>

    <div class="section bg-dark padding-top-0 padding-bottom-0 mb-0">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-12">					
            <div class="break-line"></div>
            <div class="sect-sm">About our customer</div>
          </div>
        </div>
        <div class="row padding-bottom-0">
          <div class="col-12 col-md-8">					

            <p class="text-gray2 font-weight-500 margin-bottom-10 margin-top-30">uTrack consolidate data from vehicles, ticketing systems, telematics and passengers across vast networks into a single, user-friendly platform. This transforms huge volumes of disjointed information into highly customisable, accurate and actionable insight.</p>
           
          </div>
        </div>
      </div>
    </div>

    <div class="section bg-dark padding-top-0 padding-bottom-0 mb-0 margin-top-30">
      <div class="container">
        <div class="row padding-bottom-0">
          <div class="col-12 col-md-8">			
            <h6 class="powering mb-0">Challanges</h6> 
          </div>
          <div class="col-12 col-md-8">

            <p class="sm-p text-gray2">In partnership with the UAE Ministry of Interior, the Code Reflect team led the technical, architectural, and production initiatives of a “Fazaa” project.</p>

            <p class="sm-p text-gray2">Over two months, we worked to create secure and scalable infrastructure, re-engineer legacy APIs and implement IOS and Android apps. The web and mobile applications were successfully delivered and deployed on production.</p>
  
            <p class="sm-p text-gray2">The developed platform allowed users to access discounts and benefits when leasing cars, booking trips or airplane tickets and other numerous services.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section bg-dark padding-top-0 padding-bottom-0 mb-0 margin-top-30">
      <div class="container">
        <div class="row padding-bottom-0 case-study-outcomes">
          <div class="col-12 col-md-12">			
            <h6 class="powering mb-0">Outcomes</h6> 
          </div>
          
          <div class="col-12 col-md-8 mb-0 pl-0">
            <div class="feature-box pl-50">
              <div class="feature-box-icon bg-none">
                <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> 
              </div>
              <p class="sm-p text-gray2">  Designed push button software development workflows: CI/CD with dev/stage/production environments, integration with 3rd party tools and services.</p>
            </div>
          </div>

          <div class="col-12 col-md-8 mb-0 pl-0">
            <div class="feature-box pl-50">
              <div class="feature-box-icon bg-none">
                <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> 
              </div>
              <p class="sm-p text-gray2">Re-engineered legacy system by using the thin-slice approach of implementing feature verticals.</p>
            </div>
          </div>

          <div class="col-12 col-md-8 mb-0 pl-0">
            <div class="feature-box pl-50">
              <div class="feature-box-icon bg-none">
                <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> 
              </div>
              <p class="sm-p text-gray2"> Multilingual mobile apps for iOS and Android using React Native cross-platform framework.</p>
            </div>
          </div>

          <div class="col-12 col-md-8 mb-0 pl-0" >
            <div class="feature-box pl-50">
              <div class="feature-box-icon bg-none">
                <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> 
              </div>
              <p class="sm-p text-gray2">Payment gateway integration.</p>
            </div>
          </div>

          <div class="col-12 col-md-8 mb-0 pl-0">
            <div class="feature-box pl-50">
              <div class="feature-box-icon bg-none">
                <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> 
              </div>
              <p class="sm-p text-gray2">Visa prepaid API integration.</p>
            </div>
          </div>

          <div class="col-12 col-md-8 pl-0">
            <div class="feature-box pl-50">
              <div class="feature-box-icon bg-none">
                <span class="text-clip gradient-16">&#8212; &nbsp;&nbsp;</span> 
              </div>
              <p class="sm-p text-gray2">SSO with internal systems.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section-xs bg-dark padding-top-0 padding-bottom-0 mb-0 margin-top-30">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-12">			
            <h6 class="powering">Technology</h6> 
          </div>
        </div>

        <div class="masonry masonry-column-3 masonry-spacing-30">
          <div class="masonry-item">
            <div class=" case-study">
              <h4 class="title">Spring Boot</h4>
              <p class="sm-p">Restful API </p>
            </div>
          </div>
          <div class="masonry-item">
            <div class=" case-study">
              <h4 class="title">Elasticsearch</h4>
              <p class="sm-p">Geolocation and full-text search</p>
            </div>
          </div>
          <div class="masonry-item">
            <div class=" case-study">
              <h4 class="title">Postgres</h4>
              <p class="sm-p ">RDBMS</p>
            </div>
          </div>
          <div class="masonry-item">
            <div class=" case-study">
              <h4 class="title">React Native</h4>
              <p class="sm-p ">IOS/Android apps</p>
            </div>
          </div>
          <div class="masonry-item">
            <div class=" case-study">
              <h4 class="title">React</h4>
              <p class="sm-p ">Web app</p>
            </div>
          </div>
          <div class="masonry-item">
            <div class=" case-study">
              <h4 class="title">Redis</h4>
              <p class="sm-p ">Distributed lock and message broadcast system</p>
            </div>
          </div>
        </div>

        

        
      </div>
    </div>

	</div>